 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>This page belong to the @ <%= data.name%></h3>
    <p>Followers :<%= data.followers %> &nbsp;&nbsp; Following :<%= data.following %>  </p>
    <button>follow</button>
    <button>Message</button>
    <h4>Posts</h4>

  <%for (const post of data.posts) {%>
    <img src=" <%=post.image %>" alt="">
    <p>Likes :<%=post.likes %> &nbsp;&nbsp;&nbsp;&nbsp; Comments :<%=post.comments %></p>
  <%} %>   
  <%- include("includes/footer.ejs")%>
    </body>
</html>

