<%- include('includes/head.ejs')%>
<body>
    <h1>the username will be @ <%= data.name %></h1>
    <button>Follower</button>
    <button>following</button>
    <p>Follower: &nbsp; <%= data.followers%> &nbsp;&nbsp;&nbsp;  Follower: &nbsp;<%= data.following%></p>
    <hr>
    <%  for (const post of data.posts) { %>
      <img src="<%= post.image%>" alt="">  
      
    <p>Likes: &nbsp; <%= post.likes%> &nbsp;&nbsp;&nbsp;  Comments: &nbsp;<%= post.comments%></p>
    <%}%>
</body>
</html>